#root {
	margin: 0 auto;
	text-align: center;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#container_root {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#container_header {
	background-color: aquamarine;
	width: 100%;
}

#container_main {
	overflow: auto;
	flex-grow: 1;
	height: 100%;
}

.container.wide {
	width: 100%;
}